<a href="https://colab.research.google.com/github/faiyaz025/CSE221-lab-codes/blob/main/CSE221_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task A

In [ ]:
num = int(input())

for i in range(num):
  n = int(input())
  if n % 2 == 0:
      print(f"{n} is an Even number.")
  else:
      print(f"{n} is an Odd number.")

5
10
10 is an Even number.
19
19 is an Odd number.
7
7 is an Odd number.
3
3 is an Odd number.
100
100 is an Even number.

Task B

In [ ]:
T = int(input())  # Read number of test cases
for _ in range(T):
        line = input()
        parts = line.split()
        num1 = int(parts[1])
        operation = parts[2]
        num2 = int(parts[3])

        if operation == '+':
            print(num1 + num2)
        elif operation == '-':
            print(num1 - num2)
        elif operation == '*':
            print(num1 * num2)
        elif operation == '/':
            print(f"{num1 / num2:.6f}")

1
calculate 67 + 41
108

Task C

In [ ]:
length = int(input())
rev = int(input())
temp = []
for i in range(length):
  temp.append(int(input()))

new_arr = []

for j in range(rev):
  new_arr.append(temp[j])

rev_arr = new_arr[::-1]
for i in range(len(rev_arr)):
  print(int(rev_arr[i]),end=" ")

5
3
5
6
7
8
9
7 6 5

Task D

In [ ]:
T = int(input())
for i in range(T):
    N = int(input())
    print(N * (N + 1) // 2)

5
2
3
5
15
10
55
12
78
100
5050

Task E

In [ ]:
def bubbleSort(arr, n):
    for i in range(n - 1):
        swap = False
        for j in range(n - 1 - i):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
                swap = True
        if not swap:
            break


N = int(input())
arr = input().split()
for i in range(N):
    arr[i] = int(arr[i])

bubbleSort(arr, N)

for i in range(N):
    if i != N - 1:
        print(arr[i], end=" ")
    else:
        print(arr[i])

5
3 2 1 4 5
1 2 3 4 5

Task F

In [ ]:
n = int(input())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

swap_count = 0

for i in range(n):
    max_idx = i
    for j in range(i + 1, n):
        if b[j] > b[max_idx] or (b[j] == b[max_idx] and a[j] < a[max_idx]):
            max_idx = j

    if max_idx != i:
        a[i], a[max_idx] = a[max_idx], a[i]
        b[i], b[max_idx] = b[max_idx], b[i]
        swap_count += 1

print(f'Minimum swaps: {swap_count}')
for id_, mark in zip(a, b):
    print(f'ID: {id_} Mark: {mark}')

7
7 4 9 3 2 5 1
40 50 50 20 10 10 10
Minimum swaps: 4
ID: 4 Mark: 50
ID: 9 Mark: 50
ID: 7 Mark: 40
ID: 3 Mark: 20
ID: 1 Mark: 10
ID: 2 Mark: 10
ID: 5 Mark: 10

Task G

In [ ]:
n = int(input())
temp = []
for i in range(n):
  new = input().split()
  temp+=[new]

for i in range(n-1):
  for j in range(n-1-i):
    if temp[j][0]>temp[j+1][0]:
      temp[j],temp[j+1] = temp[j+1],temp[j]
    elif temp[j][0]==temp[j+1][0] and temp[j][6]<temp[j+1][6]:
      temp[j],temp[j+1]=temp[j+1],temp[j]

for i in range(n):
  print(" ".join(temp[i]))

8
ABCD will departure for Mymensingh at 00:30
DhumketuExpress will departure for Chittagong at 02:30
ABC will departure for Dhaka at 17:30
ABCD will departure for Chittagong at 01:00
ABC will departure for Khulna at 03:00
ABC will departure for Barisal at 03:00
ABCE will departure for Sylhet at 23:05
PadmaExpress will departure for Dhaka at 19:30
ABC will departure for Dhaka at 17:30
ABC will departure for Khulna at 03:00
ABC will departure for Barisal at 03:00
ABCD will departure for Chittagong at 01:00
ABCD will departure for Mymensingh at 00:30
ABCE will departure for Sylhet at 23:05
DhumketuExpress will departure for Chittagong at 02:30
PadmaExpress will departure for Dhaka at 19:30

In [ ]:
n = int(input())
trains = [input().split() for _ in range(n)]

for i in range(n - 1):
    for j in range(n - 1 - i):
        if trains[j][0] > trains[j + 1][0] or \
           (trains[j][0] == trains[j + 1][0] and trains[j][6] < trains[j + 1][6]):
            trains[j], trains[j + 1] = trains[j + 1], trains[j]

for train in trains:
    print(" ".join(train))

8
ABCD will departure for Mymensingh at 00:30
DhumketuExpress will departure for Chittagong at 02:30
ABC will departure for Dhaka at 17:30
ABCD will departure for Chittagong at 01:00
ABC will departure for Khulna at 03:00
ABC will departure for Barisal at 03:00
ABCE will departure for Sylhet at 23:05
PadmaExpress will departure for Dhaka at 19:30
ABC will departure for Dhaka at 17:30
ABC will departure for Khulna at 03:00
ABC will departure for Barisal at 03:00
ABCD will departure for Chittagong at 01:00
ABCD will departure for Mymensingh at 00:30
ABCE will departure for Sylhet at 23:05
DhumketuExpress will departure for Chittagong at 02:30
PadmaExpress will departure for Dhaka at 19:30